In [108]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\choki\anaconda3\lib\site-packages (2.9.1)
Note: you may need to restart the kernel to use updated packages.

In [109]:
# import the dependencies 
import pandas as pd
from sqlalchemy import create_engine, inspect

### Read the files into pandas dataframe and display

In [110]:
percapita_df = pd.read_csv("../Resources/GDP_PerCapita2.csv")
percapita_df.head()

,Country/Territory,Country,Subregion,Region,GDP Estimate in USD per capita as per IMF,Year as per IMF,GDP Estimate in USD per capita as per UN,Year as per UN,GDP Estimate in USD per capita as per World Bank,Year as per World Bank
0,Monaco�,Monaco,Western Europe,Europe,NaN,NaN,190532.0,2019,190513.0,2019.0
1,Liechtenstein�,Liechtenstein,Western Europe,Europe,NaN,NaN,179258.0,2019,180367.0,2018.0
2,Luxembourg�,Luxembourg,Western Europe,Europe,131782.0,2021.0,115481.0,2019,115874.0,2020.0
3,Bermuda�,Bermuda,Northern America,Americas,NaN,NaN,117768.0,2019,117098.0,2019.0
4,Cayman Islands�,Cayman Islands,Caribbean,Americas,NaN,NaN,92692.0,2019,91393.0,2019.0

In [111]:
global_vax_df = pd.read_csv("../Resources/Global_COVID_Vaccination_Tracker.csv")
global_vax_df.head()

,Countries and regions,Doses administered,Enough for % of people,Percentage of population with 1+ dose,Percentage of population fully vaccinated,Daily rate of doses administered
0,Global Total,5.663213e+09,NaN,NaN,NaN,33380378.0
1,Mainland China,2.129833e+09,76.1,NaN,69.3,6454714.0
2,India,7.303371e+08,26.7,40.3,12.4,7616167.0
3,EU,5.469671e+08,61.6,66.0,61.5,1394444.0
4,U.S.,3.785697e+08,59.2,62.9,53.6,721844.0

In [112]:
population_df = pd.read_csv("../Resources/population_by_country_2020.csv")
population_df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

### Find the null and duplicates in the dataframes

In [113]:
#find null values in percpaita_df 
null_percapita = percapita_df[percapita_df.isna().any(axis=1)]
null_percapita

,Country/Territory,Country,Subregion,Region,GDP Estimate in USD per capita as per IMF,Year as per IMF,GDP Estimate in USD per capita as per UN,Year as per UN,GDP Estimate in USD per capita as per World Bank,Year as per World Bank
0,Monaco�,Monaco,Western Europe,Europe,NaN,NaN,190532.0,2019,190513.0,2019.0
1,Liechtenstein�,Liechtenstein,Western Europe,Europe,NaN,NaN,179258.0,2019,180367.0,2018.0
3,Bermuda�,Bermuda,Northern America,Americas,NaN,NaN,117768.0,2019,117098.0,2019.0
4,Cayman Islands�,Cayman Islands,Caribbean,Americas,NaN,NaN,92692.0,2019,91393.0,2019.0
17,Greenland�,Greenland,Northern America,Americas,NaN,NaN,53353.0,2019,54471.0,2018.0
21,British Virgin Islands�,British Virgin Islands,Caribbean,Americas,NaN,NaN,48511.0,2019,NaN,NaN
31,Andorra�,Andorra,Southern Europe,Europe,NaN,NaN,40887.0,2019,40897.0,2019.0
33,New Caledonia�,New Caledonia,Melanesia,Oceania,NaN,NaN,34942.0,2019,12580.0,2000.0
38,Taiwan�,Taiwan,Eastern Asia,Asia,32123.0,2021.0,28371.0,[6][7]2020,NaN,NaN
43,Sint Maarten�,Sint Maarten,Caribbean,Americas,NaN,NaN,NaN,NaN,29160.0,2018.0
46,Turks and Caicos I,Turks and Caicos,Caribbean,Americas,NaN,NaN,31353.0,2019,23880.0,2020.0
48,Anguilla�,Anguilla,Caribbean,Americas,NaN,NaN,25529.0,2019,NaN,NaN
54,Cook Islands�,Cook Islands,Polynesia,Oceania,NaN,NaN,21603.0,2019,NaN,NaN
56,French Polynesia�,French Polynesia,Polynesia,Oceania,NaN,NaN,21567.0,2019,14324.0,2000.0
61,Cura�ao�,Cura�ao,Caribbean,Americas,NaN,NaN,18980.0,2019,19701.0,2019.0
74,Montserrat�,Montserrat,Caribbean,Americas,NaN,NaN,13487.0,2019,NaN,NaN
79,American Samoa�,American Samoa,Polynesia,Oceania,NaN,NaN,NaN,NaN,11535.0,2019.0
80,#VALUE!,#VALUE!,NaN,NaN,NaN,NaN,11339.0,2019,10926.0,2020.0
89,Cuba�,Cuba,Caribbean,Americas,NaN,NaN,9296.0,2019,9100.0,2019.0
201,North Korea�,North Korea,Eastern Asia,Asia,NaN,NaN,640.0,2019,NaN,NaN

In [114]:
#finding which GDP data has least null values 

wb_series = pd.isnull(percapita_df["GDP Estimate in USD per capita as per World Bank"])

un_series = pd.isnull(percapita_df["GDP Estimate in USD per capita as per UN"])

imf_series = pd.isnull(percapita_df["GDP Estimate in USD per capita as per IMF"])

print(f"number of null values in worldbank gdp data is {len(percapita_df[wb_series])}" )
print(f"number of null values in UN gdp data is {len(percapita_df[un_series])}" )
print(f"number of null values in IMF gdp data is {len(percapita_df[imf_series])}" )

number of null values in worldbank gdp data is 6
number of null values in UN gdp data is 2
number of null values in IMF gdp data is 19

In [115]:
#keeping the gdp and year columns with least null values and dropping rest
new_percapita_df = percapita_df [["Country","Region","GDP Estimate in USD per capita as per UN","Year as per UN"]]
new_percapita_df.head()

,Country,Region,GDP Estimate in USD per capita as per UN,Year as per UN
0,Monaco,Europe,190532.0,2019
1,Liechtenstein,Europe,179258.0,2019
2,Luxembourg,Europe,115481.0,2019
3,Bermuda,Americas,117768.0,2019
4,Cayman Islands,Americas,92692.0,2019

In [116]:
# drop the duplicates 
new_percapita_df = new_percapita_df.drop_duplicates(subset =["Country"], keep = "first")
new_percapita_df.head()

,Country,Region,GDP Estimate in USD per capita as per UN,Year as per UN
0,Monaco,Europe,190532.0,2019
1,Liechtenstein,Europe,179258.0,2019
2,Luxembourg,Europe,115481.0,2019
3,Bermuda,Americas,117768.0,2019
4,Cayman Islands,Americas,92692.0,2019

In [117]:
#find the null values in the global_vax_df
null_global_vax = global_vax_df[global_vax_df.isna().any(axis=1)]
null_global_vax

,Countries and regions,Doses administered,Enough for % of people,Percentage of population with 1+ dose,Percentage of population fully vaccinated,Daily rate of doses administered
0,Global Total,5.663213e+09,NaN,NaN,NaN,33380378.0
1,Mainland China,2.129833e+09,76.1,NaN,69.3,6454714.0
93,Ethiopia,2.654956e+06,1.4,2.7,NaN,27945.0
140,Syria,4.032540e+05,NaN,NaN,NaN,2105.0
148,Tanzania,3.101030e+05,0.3,NaN,NaN,5718.0
158,Lesotho,2.017950e+05,4.9,2.0,NaN,24504.0
161,Benin,1.740740e+05,0.7,1.3,NaN,2375.0
164,Jersey,1.497480e+05,NaN,NaN,NaN,142.0
176,Guernsey,1.009570e+05,NaN,NaN,NaN,181.0
185,Micronesia,6.774800e+04,32.6,37.7,NaN,219.0
198,Turkmenistan,4.199300e+04,0.4,0.6,0.2,NaN
202,Nauru,1.479000e+04,56.9,58.6,55.2,NaN
205,Montserrat,2.837000e+03,28.4,29.3,27.4,NaN
206,Eritrea,NaN,NaN,NaN,NaN,NaN

In [118]:
#final dataframe for global_vax_df
new_global_vax = global_vax_df[["Countries and regions","Doses administered","Percentage of population with 1+ dose"
                                ,"Percentage of population fully vaccinated"]]
new_global_vax.head()

,Countries and regions,Doses administered,Percentage of population with 1+ dose,Percentage of population fully vaccinated
0,Global Total,5.663213e+09,NaN,NaN
1,Mainland China,2.129833e+09,NaN,69.3
2,India,7.303371e+08,40.3,12.4
3,EU,5.469671e+08,66.0,61.5
4,U.S.,3.785697e+08,62.9,53.6

In [119]:
#final dataframe for the population_df
new_population_df = population_df[["Country (or dependency)","Population (2020)"]]
new_population_df.head()

  Country (or dependency)  Population (2020)
0                   China         1440297825
1                   India         1382345085
2           United States          331341050
3               Indonesia          274021604
4                Pakistan          221612785

In [120]:
#find the null values in the global_vax_df
null_population = new_population_df[new_population_df.isna().any(axis=1)]
null_population

Empty DataFrame
Columns: [Country (or dependency), Population (2020)]
Index: []

In [121]:
country_correspondence = pd.read_csv("../Resources/country_correspondence.csv")
country_correspondence.head()

,Index,Pop,GDP,GDP-1,Covid,Full_set,Unnamed: 6,Unnamed: 7
0,0.0,Afghanistan,Afghanistan,Afghanistan,Afghanistan,True,NaN,4.0
1,1.0,Albania,Albania,Albania,Albania,True,NaN,4.0
2,2.0,Algeria,Algeria,Algeria,Algeria,True,NaN,4.0
3,3.0,American Samoa,American Samoa,American Samoa,NaN,False,NaN,3.0
4,4.0,Andorra,Andorra,Andorra,Andorra,True,NaN,4.0

In [122]:
merge_pop = country_correspondence[["Index","Pop"]]
merge_pop = merge_pop.rename(columns={"Pop":"Country (or dependency)"})
merge_pop.head()

   Index Country (or dependency)
0    0.0             Afghanistan
1    1.0                 Albania
2    2.0                 Algeria
3    3.0          American Samoa
4    4.0                 Andorra

In [123]:
merged_population = pd.merge(new_population_df, merge_pop, on="Country (or dependency)")
merged_population.head()

  Country (or dependency)  Population (2020)  Index
0                   China         1440297825   43.0
1                   India         1382345085   97.0
2           United States          331341050  228.0
3               Indonesia          274021604   98.0
4                Pakistan          221612785  162.0

In [124]:
merge_vax = country_correspondence[["Index","Covid"]]
merge_vax = merge_vax.rename(columns={"Covid":"Countries and regions"})
merged_vax = pd.merge(new_global_vax, merge_vax, on="Countries and regions")
merged_vax.head()

,Countries and regions,Doses administered,Percentage of population with 1+ dose,Percentage of population fully vaccinated,Index
0,Mainland China,2.129833e+09,NaN,69.3,43.0
1,India,7.303371e+08,40.3,12.4,97.0
2,EU,5.469671e+08,66.0,61.5,67.0
3,U.S.,3.785697e+08,62.9,53.6,228.0
4,Brazil,2.058668e+08,66.9,33.2,27.0

In [125]:
merge_gdp = country_correspondence[["Index","GDP-1"]]
merge_gdp = merge_gdp.rename(columns={"GDP-1":"Country"})
merged_gdp = pd.merge(new_percapita_df, merge_gdp, on="Country")
merged_gdp.head()

,Country,Region,GDP Estimate in USD per capita as per UN,Year as per UN,Index
0,Monaco,Europe,190532.0,2019,140.0
1,Liechtenstein,Europe,179258.0,2019,122.0
2,Luxembourg,Europe,115481.0,2019,124.0
3,Bermuda,Americas,117768.0,2019,22.0
4,Cayman Islands,Americas,92692.0,2019,38.0

In [126]:
merge_1 = pd.merge(merged_population, merged_vax, on="Index")
merge_1.head()

,Country (or dependency),Population (2020),Index,Countries and regions,Doses administered,Percentage of population with 1+ dose,Percentage of population fully vaccinated
0,China,1440297825,43.0,Mainland China,2.129833e+09,NaN,69.3
1,India,1382345085,97.0,India,7.303371e+08,40.3,12.4
2,United States,331341050,228.0,U.S.,3.785697e+08,62.9,53.6
3,Indonesia,274021604,98.0,Indonesia,1.115708e+08,26.3,15.1
4,Pakistan,221612785,162.0,Pakistan,6.645624e+07,24.5,10.4

In [127]:
merge_2 = pd.merge(merge_1, merged_gdp, on="Index")
merge_2.head()

,Country (or dependency),Population (2020),Index,Countries and regions,Doses administered,Percentage of population with 1+ dose,Percentage of population fully vaccinated,Country,Region,GDP Estimate in USD per capita as per UN,Year as per UN
0,China,1440297825,43.0,Mainland China,2.129833e+09,NaN,69.3,China,Asia,10004.0,2019
1,India,1382345085,97.0,India,7.303371e+08,40.3,12.4,India,Asia,2116.0,2019
2,United States,331341050,228.0,U.S.,3.785697e+08,62.9,53.6,United States,Americas,65134.0,2019
3,Indonesia,274021604,98.0,Indonesia,1.115708e+08,26.3,15.1,Indonesia,Asia,4136.0,2019
4,Pakistan,221612785,162.0,Pakistan,6.645624e+07,24.5,10.4,Pakistan,Asia,1187.0,2019

In [128]:
final_merge = merge_2[["Country", "Population (2020)", "GDP Estimate in USD per capita as per UN", "Doses administered", "Percentage of population with 1+ dose", "Percentage of population fully vaccinated", "Region"]]
final_merge = final_merge.rename(columns={
    "Population (2020)":"Population",
    "GDP Estimate in USD per capita as per UN":"GDP_per_capita",
    "Doses administered":"Doses",
    "Percentage of population with 1+ dose":"pc_1_dose",
    "Percentage of population fully vaccinated":"pc_2_doses",
    "Region":"World_region"
})
final_merge.head()

,Country,Population,GDP_per_capita,Doses,pc_1_dose,pc_2_doses,World_region
0,China,1440297825,10004.0,2.129833e+09,NaN,69.3,Asia
1,India,1382345085,2116.0,7.303371e+08,40.3,12.4,Asia
2,United States,331341050,65134.0,3.785697e+08,62.9,53.6,Americas
3,Indonesia,274021604,4136.0,1.115708e+08,26.3,15.1,Asia
4,Pakistan,221612785,1187.0,6.645624e+07,24.5,10.4,Asia

In [150]:
final_merge.to_csv("../Resources/clean_data.csv")

In [151]:
from config import username, password

conn_string = f"postgresql://{username}:{password}@localhost:5432/Covid_Vaccination_Report_db"

engine = create_engine(conn_string)

In [152]:
final_merge.to_sql(name='vaccination_record_2', con=engine, if_exists='append', index=False)

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/14/e3q8)